.feedbackbutton-container{
    position:fixed;
    right: 50px;
    bottom: 80px;
    width: 70px;
    height: 40px;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
}

.feedbackbutton-container:hover{
    background-color: lightgray;
    cursor: pointer;
}